.recipe-book {
  border: 1px solid rgb(23, 114, 28);
  height: 50%;
}

.search-filters {
  border: 1px solid rgb(23, 114, 28);
  height: 50%;
}

#saved-recipes {
  display: flex;
  flex-direction: column;
}

#saved-recipes > div {
  display: flex;
  flex-direction: row;
 
}

.saved-recipe-status {

  width: 20px;
}

.saved-recipe-title {

}

.saved-recipe {

  display: flex;
  justify-content: space-between;
}

.saved-recipe-left {
 
  display: flex;
  flex-direction: row;
}

.saved-recipe-right {
  width: 20px;
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
}


