
#saved-recipes {
  display: flex;
  flex-direction: column;
}

#saved-recipes > div {
  display: flex;
  flex-direction: row;
 
}

.saved-recipe-status {

  width: 20px;
}

.rb-title {
  flex: 1; 
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #1c4966 ;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  margin-bottom: 20px;
  align-items: center;

  /* border-bottom-style: solid; */
  /* border-bottom-width: 2px; */
  border-bottom-color: rgb(211, 211, 211);
  padding-bottom: 4px;
  padding-top: 5px;
  max-height: 40px;
}

.rb-title {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: 500;
  text-align: center;
  align-items: center;
  font-style: normal;
}

.saved-recipe {

  display: flex;
  justify-content: space-between;
}

.saved-recipe-left {
 
  display: flex;
  flex-direction: row;
}

.saved-recipe-right {
  width: 20px;
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
}


