.recipe-book {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(23, 114, 28);
  height: 50%;
  margin-bottom: 4px;
  padding: 4px;
  height: 50%;
  display: flex;
  flex-grow: 1;
  border-radius: 36px;
  background: rgb(64,61,124);
  background: linear-gradient(90deg, 
  rgba(63, 60, 129, 0.425) 0%, 
  rgba(122, 37, 131, 0.204) 16%, 
  rgba(78, 140, 202, 0.19) 100%);
  max-height: 820px;
  border-color: lightgrey;
  flex-direction: column;
  text-align: center;
}

.search-filters {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(23, 114, 28);
  height: 50%;
  margin-bottom: 8px;
  padding: 4px;
  height: 50%;
  display: flex;
  flex-grow: 1;
  border-radius: 36px;
  background: rgb(64,61,124);
  background: linear-gradient(90deg, 
  rgba(63, 60, 129, 0.425) 0%, 
  rgba(122, 37, 131, 0.204) 16%, 
  rgba(78, 140, 202, 0.19) 100%);
  max-height: 820px;
  border-color: lightgrey;
  flex-direction: column;
  text-align: center;
  height: 50%
}

#saved-recipes {
  display: flex;
  flex-direction: column;
}

#saved-recipes > div {
  display: flex;
  flex-direction: row;
 
}

.saved-recipe-status {
  width: 20px;
}

.saved-recipe-title {
  flex-basis:250px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border-bottom-color: rgb(0, 0, 0);
}

.saved-recipe {

  display: flex;
  justify-content: space-between;
}

.saved-recipe-left {
 
  display: flex;
  flex-direction: row;
}

.saved-recipe-right {
  width: 20px;
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
}


