.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  flex: 2;
  padding-left: 10px;
  padding-right: 5px;
}

.column {
  flex: 19%;
  max-width: 24%;
  padding: 0 3px;
}

.column img {
  margin-top: 4px;
  vertical-align: middle;
  width: 100%;
  
}

.ingredient:hover {
  filter: brightness(95%);
  transform: scale(0.97);
  transition-delay: 0s;
  transition-duration: 0.025s;
  transition-property: transform;
  transition-timing-function: ease-out;
  vertical-align: middle;
  
}

@media screen and (max-width: 150px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 150px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.flex-container {
  display: flex;
}

.search {
  border-radius: 36px;
  margin-right: 4px;
  min-height: 500px;
  background: rgb(50, 82, 90);
  background: linear-gradient(90deg, rgba(49, 150, 173, 0.409) 0%,
   rgba(78, 40, 134, 0.313) 100%);
  max-height: 850px;
}

.pantry{
  display: flex;
  /* flex-flow: column wrap; */
  flex-grow: 1;
  /* flex-wrap: wrap; */

  padding-top: 0px;
  border-radius: 36px;
  margin-top: 0px;
  background: rgb(64,61,124);
  background: linear-gradient(90deg, 
  rgba(63, 60, 129, 0.425) 0%, 
  rgba(122, 37, 131, 0.204) 16%, 
  rgba(78, 140, 202, 0.19) 100%);
  max-height: 820px;
  /* border: 1px solid red; */
  /* border-width: 2px; */
  border-color: lightgrey;
  flex-direction: column;
  text-align: center;
}

body {
   background: rgba(64, 61, 124, 0.615);
  background: linear-gradient(90deg, 
  rgba(63, 60, 129, 0.24) 0%, 
  rgba(122, 37, 131, 0.293) 16%, 
  rgba(78, 140, 202, 0.363) 100%);
}



.ingredient {
  flex-basis:250px;
  display: flex;
  background-color: rgb(255, 255, 255);
  min-height: 150px;
  border-radius: 36px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  margin-right: 8px;
  border-width: 5px;
  border-color: lightgrey;
  max-height: 190px;
  max-width:160px;
  -webkit-box-shadow: 0 16px 6px -6px rgba(119, 119, 119, 0.28);
     -moz-box-shadow: 0 16px 6px -6px rgba(119, 119, 119, 0.28);
          box-shadow: 0 16px 6px -6px rgba(119, 119, 119, 0.28);
}

.i-title {
  flex-basis:250px;
  flex: 2;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border-bottom-color: rgb(0, 0, 0);
}

.p-title {
  flex: 1; 
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #1c4966 ;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  margin-bottom: 20px;
  align-items: center;

  /* border-bottom-style: solid; */
  /* border-bottom-width: 2px; */
  border-bottom-color: rgb(211, 211, 211);
  padding-bottom: 4px;
  padding-top: 5px;
  max-height: 40px;
}

.p-title h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: 500;
  text-align: center;
  align-items: center;
  font-style: normal;
}

.i-img {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis:250px;
  width:100px;
  min-height:50%;
  max-height:50%;
  border-radius: 10px;
  flex-flow: column wrap;
  flex: 1;
  margin-top: 15px;
}

.i-img img {
    align-items: center;
 }


.i-title {
 width:100px;
 height:25px;
}

.i-title h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  min-height:50%;
  max-height:50%;
  font-weight: 500;
  text-align: center;
  font-style: normal;
}

