#recipe-home {
  display: flex;
  border: 1px solid red;
  flex-direction: row;
  width: 98vw;
  height: 88vh;
  flex-direction: row;
  padding: 8px;
}

#recipe-sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid blue;
  padding: 8px;
  margin-right: 8px;
}

#recipe-main {
  display: flex;
  flex: 2;
  border: 1px solid blue;
  padding: 8px;
}

.recipe-book {
  display: flex;
  border: 1px solid rgb(23, 114, 28);
  height: 50%;
  margin-bottom: 8px;
  padding: 4px;
}

.search-filters {
  display: flex;
  border: 1px solid rgb(23, 114, 28);
  height: 50%;
  padding: 4px;
}

/* ------------------------------------------------------ */

#view-switch-buttons {
  display: flex;
}

#view-switch-buttons > div{
  border: 1px solid red;
  cursor: pointer;
}

.svg-icon {
  height: 20px;
}

.user-ingredients{
  list-style-type: none;
}

.recipe-results:hover{
  cursor: pointer;
}

.blue-button {
  background-color: #1c4966;
  color: rgb(255, 255, 255);
  margin: 6px;
}