#recipe-home {
  display: flex;
  flex-direction: row;
  width: 98vw;
  height: 88vh;
  flex-direction: row;
  padding: 8px;
}

#recipe-sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 8px;
}

.recipe {
  background: rgb(64,61,124);
  background: linear-gradient(90deg, 
  rgba(63, 60, 129, 0.425) 0%, 
  rgba(122, 37, 131, 0.204) 16%, 
  rgba(78, 140, 202, 0.19) 100%);
  height: 100%;
  border-radius: 36px;
}

#recipe-main {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 8px;
  
}

.recipe-book {
  display: flex;
  flex-direction: column;
  height: 50%;
  margin-bottom: 8px;
  background: rgb(64,61,124);
  background: linear-gradient(90deg, 
  rgba(63, 60, 129, 0.425) 0%, 
  rgba(122, 37, 131, 0.204) 16%, 
  rgba(78, 140, 202, 0.19) 100%);
  max-height: 820px;
  border-color: lightgrey;
  border-radius: 36px;
}

.search-filters {
  display: flex;
  flex-direction: column;
  height: 50%;
  background: rgb(64,61,124);
  background: linear-gradient(90deg, 
  rgba(63, 60, 129, 0.425) 0%, 
  rgba(122, 37, 131, 0.204) 16%, 
  rgba(78, 140, 202, 0.19) 100%);
  max-height: 820px;
  border-color: lightgrey;
  border-radius: 36px;
}

.r-title {
  flex: 1; 
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #1c4966 ;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  margin-bottom: 20px;
  align-items: center;

  /* border-bottom-style: solid; */
  /* border-bottom-width: 2px; */
  border-bottom-color: rgb(211, 211, 211);
  padding-bottom: 4px;
  padding-top: 5px;
  max-height: 40px;
}

.r-title {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: 500;
  text-align: center;
  align-items: center;
  font-style: normal;
}

/* ------------------------------------------------------ */

#view-switch-buttons {
  display: flex;
}

#view-switch-buttons > div{
  border: 1px solid red;
  cursor: pointer;
}

.svg-icon {
  height: 20px;
}

.user-ingredients{
  list-style-type: none;
}

.recipe-results:hover{
  cursor: pointer;
}

.blue-button {
  background-color: #1c4966;
  color: rgb(255, 255, 255);
  margin: 6px;
}