.recipe-show-box {
  display: flex;
    background-color: white;
    background: rgb(236,180,179);
  background: radial-gradient(circle, rgba(236,180,179,1) 0%, rgba(224,136,131,0.9561200923787528) 79%);
    font-family: 'Roboto', sans-serif;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 36px;
  min-height: 400px;
  /* padding: 20px 10px; */
  
}

.save-recipe-div {
    background-color: tomato;
    width: min-content;
    cursor: pointer;
}





.recipe-ingredients {
  background-color: rgba(192, 186, 185, 0.671);
  width: 100%;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
}

.ingredient-item {
  color: white;
}

.recipe-title {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.r-img-container {
  display: flex;
  width: 100%;
  align-items: center;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  background-color: rgba(192, 186, 185, 0.671);
}

 .recipe-show-box img {
   align-self: center;
    background-color: white;
  }

.recipe-instructions {
  background-color: rgba(192, 186, 185, 0.671);
  width: 100%;
  border-radius: 20px;
  color: white;
}