/* .exclusion-search-box {
    border: green solid;
} */

.p-grid {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.p-col-container {
  display: flex;
  flex-direction: row;
  min-height: 72%;
  flex-flow: wrap;
}

.p-col {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.p-text {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: white;
  padding-bottom: 40px;
}

.p-text input {
  margin-left: 8px;
  margin-right: 22px;
}

.p-grid-button {
  height: 10px;
}

.e-search-bar {
  border-width: 0px;
  height: 30px;
  width: 99%;
  background-color: #5a51515b;
  /* border-top-left-radius: 36px;
  border-top-right-radius: 36px; */
  text-align: center;
}

.e-search-bar::placeholder {
  color: rgba(255, 255, 255, 0.61);
  /* color: rgb(51, 51, 51); */
}

.e-search-bar {
  text-decoration: none;
  border-color: none;
}

.e-search-bar:focus{
  outline: none;
}

.search-values > div{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
}

.search-values > div:hover {
  cursor: grab;
  background-color: rgba(61, 85, 92, 0.1);
  color: #1c4966;
}



.e-search-bar {
  font-family: 'Roboto', sans-serif;
  color: white;
  /* color: rgb(51, 51, 51); */
  /* border: 2px solid #ddd; */
  font-size: 16px;
  overflow: visible;
  outline: none;
}
/* . */

.my-exclusions {
  background-color: rgba(255, 255, 255, 0.24);
  height: 50%;
}
.exclusion h1{
  margin-top: 0px;
  margin-bottom: 0px;
}

.p-sub {
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto', sans-serif;
  border-width: 0px;
  background-color: rgb(239, 239, 239);
  -ms-flex-align: end;
  color: rgb(0,0,0) ;
  font-weight: 450;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.e-title {
  flex: 1; 
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #1c4966 ;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  align-items: center;
  /* margin-bottom: 25px; */
  align-items: center;
  padding-bottom: 0px;
  /* border-bottom-style: solid; */
  /* border-bottom-width: 2px; */
  border-bottom-color: rgb(211, 211, 211);
  max-height: 40px;
  
}

.e-title {
    font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: 500;
  text-align: center;
  align-items: center;
  font-style: normal;
  padding-top: 16px;
  margin-bottom: 20px;
}

.e-title h1 {
  margin-bottom: 16px;
}

.filterbox {
  display: flex;
  height: 100%;
}