/* .NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px;
}

.NavBar button {
    height: 20px;
}

.Links1 {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.Links2 {
    width: 400px;
    display: flex;
    justify-content: space-between;
} */

/* --------------------------------------------------- */
button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border-bottom-color: rgb(0, 0, 0);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(0, 0, 0);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(0, 0, 0);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(0, 0, 0);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: block;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 500;
  height: 40px;
  letter-spacing: normal;
  line-height: normal;
  min-height: 40px;
  min-width: 60px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  text-align: center;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  transition-property: transform;
  transition-timing-function: ease-out;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  white-space: nowrap;
  overflow: hidden;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.94);
  transition-delay: 0s;
  transition-duration: 0.085s;
  transition-property: transform;
  transition-timing-function: ease-out;
  vertical-align: middle;
  cursor: pointer;
}

.animation {
  position: relative;
  bottom:  220px;
  width: 90%;
  height: 90%;
}

.nav-box {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  text-size-adjust: 100%;
}


.nav-left {
  align-items: center;  
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 24px;
  text-size-adjust: 100%;
}

.nav-right {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  height: 56px;
  text-size-adjust: 100%;
}

.nav-icon {
  display: block;
  width: 32px;
  height: 32px;
}

.nav-title-box {
  box-sizing: border-box;
  display: block;
  margin-left: 4px;
  text-size-adjust: 100%;
}

.nav-title {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 19px;
  font-weight: 700;
  display: block;
  color: #e60023;
  text-align: left;
  display: block;
  text-align: left;
  -webkit-font-smoothing: antialiased;
}

.text-links-box {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 24px;
  text-size-adjust: 100%;
}

.text-link {
  box-sizing: border-box;
  display: block;
  text-align: center;
  text-decoration-line: none;
  text-decoration-style: solid;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
  text-size-adjust: 100%;
}

.link {
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: center;
  font-size: 16px;
  display: block;
  text-decoration-color: rgb(17, 17, 17);
  font-weight: 500;
  text-size-adjust: 100%;
}

.blue-button {
  background-color: #e60023;
  color: rgb(255, 255, 255);
}


.grey-button {
  background-color: #efefef;
}

