body {
  margin: 0px;
}

.dev-page {
  display: block;
}

#dev-tobottom-container {
  display: flex;
  justify-content: center;
  margin-top: -100px;
}

#dev-totop-container {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  height: 14vh;
}

.scroll-logo {
  width: 90px;
  bottom: 0;
  margin-bottom: 10px;
  border: 6px solid  rgba(224,136,131,1);
  border-radius: 50%;
  position: relative;
  animation: down 1.0s infinite;
  -webkit-animation: down 1.0s infinite;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  overflow: hidden;
}

.scroll-logo:hover  {
  border: 6px solid rgb(91,104,196);
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(14px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

.footer {
  background: rgb(236,180,179);
  background: radial-gradient(circle, rgba(236,180,179,1) 0%, rgba(224,136,131,1) 79%);
}

#team-intro {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  position: relative;
  font-weight: 500;
  font-size: 68px;
  color: white;
  text-align: center;
}

.about-us-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 220px;
  margin-top: 10px;
  list-style-type:none;
  padding-inline-start: 0px;
  padding: 10px;
  font-size: 40px;
}

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.developer-name {
  color: white;
  font-weight: 700;
  font-size: 27px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.fa-icon {
  color: #FEFEFE;
  font-size: 40px;
  transition: 0.2s;
}

.fa-icon:hover {
  color: rgb(91,104,196);
}

.developer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  transition: 0.2s;
}

.developer:hover {
  transform: scale(1.1);
}

.dev-pic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1px;
}

.dev-pic > img {
  height: inherit;
  width: inherit;
  border-radius: inherit;
  object-fit: cover;
}

.dev-container {
  display: flex;
}

#top-logo {
  position: absolute;
  width: 75px;
}

.top-scroll-logo {
  bottom: 1;
  margin-top: 20px;
  position: absolute;
  animation: down 1.0s infinite;
  -webkit-animation: down 1.0s infinite;
  cursor: pointer;
}

.top-scroll-logo:hover {
  background-color: rgba(224,136,131,1);
  border-radius: 50%;
}

.developer-name {
    font-family: 'Playfair Display', serif;
    
}

@media only screen and (max-width: 799px) {
  .dev-page{
  margin-top: 14vh;
  }

  #team-intro {
    font-size: 48px;
    }

  .dev-container {
    flex-direction: column;
    }

  .developer {
    padding: 0;
    margin-bottom: 30px;
  }

  .about-us-links{
    margin-top: 0px;
    padding: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
}
