.hide {
  display: none;
}

.search-values {
  max-height: 630px;
  width: 265px;
  overflow: hidden;
  /* border-width: 1px; */
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 500;
 
}

.search-bar {
  margin-bottom: 10px;
  height: 45px;
  width: 250px;
  padding-left: 10px;
  background-color: #1c4966; 
  /* border-style: solid; */
  /* border-width: 1px; */
  /* border-radius: 4px; */
  /* border-color: rgb(211, 211, 211); */
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  text-align: center;
  border-bottom-width: 0px;
  /* background-color: rgb(245, 248, 250); */
}

.search-bar::placeholder {
  color: rgba(255, 255, 255, 0.45);
  /* color: rgb(51, 51, 51); */
}

.search-bar {
  text-decoration: none;
  border-color: none;
}

.search-bar:focus{
  outline: none;
}

.search-values > div{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
}


.search-values > div:hover {
  cursor: grab;
  background-color: rgba(61, 85, 92, 0.1);
  color: #1c4966;

}

.search-bar {
  font-family: 'Roboto', sans-serif;
  color: white;
  /* color: rgb(51, 51, 51); */
  /* border: 2px solid #ddd; */
  font-size: 16px;
  overflow: visible;
  outline: none;
}

.modal-input:hover {
  border: 3px solid rgba(0, 132, 255, 0.5);
}

.modal-input:focus {
  background-color: rgba(153, 230, 255, 0.2);
}

.svg-circleplus { 
  height: 22px; 
  stroke: white; 
  /* border: 1px solid red; */
}

.search-result-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plus-sign {
  /* border: 1px solid red; */
  cursor: pointer;
}


