.hide {
  display: none;
}

.search-values {
  max-height: 775px;
  width: 265px;
  overflow: hidden;
  border-width: 1px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-family: 'Roboto', sans-serif;
  color: rgb(51, 51, 51);
 
}

.search-bar {
  margin-bottom: 10px;
  height: 45px;
  width: 250px;
  padding-left: 10px;
  
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  transition: border-color 200ms ease 0s;
  border-color: rgb(211, 211, 211);
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  text-align: center;
  /* background-color: rgb(245, 248, 250); */
}

.search-bar placeholder {
  
}

.search-bar {
  text-decoration: none;
  border-color: none;
}

.search-bar:focus{
  outline: none;
}

.search-values > div{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
}


.search-values > div:hover {
  cursor: pointer;
  background-color: rgb(207, 207, 207);

}

.search-bar {
  font-family: 'Roboto', sans-serif;
  color: rgb(51, 51, 51);
  border: 2px solid #ddd;
  font-size: 16px;
  overflow: visible;
  outline: none;
}

.modal-input:hover {
  border: 3px solid rgba(0, 132, 255, 0.5);
}

.modal-input:focus {
  background-color: rgba(153, 230, 255, 0.2);
}

